<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Глобальные стили</title>
        <style type="text/css">
            table {
                width:30%;
            }
            td {
                text-align: center;
                width:10%;
                position:relative;
            }
            td:after{
                content:'';
                display:block;
                margin-top:100%;
            }
            td .my_div {
                font-size: 20;
                position:absolute;
                padding-top: 70;
                top:0;
                bottom:0;
                left:0;
                right:0;
                background:white;
            }

        </style>
    </head>
    <head>
        <style type="text/css">
        a.button {display:block; height:100%; width:100%;}
        </style>
    </head>
    <body>
        <table border="2" align="left" style="margin-top:100px; margin-left:200px" cellspacing="0">

            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p1a1">{{ p1a1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1a2">{{ p1a2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1a3">{{ p1a3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1a4">{{ p1a4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1a5">{{ p1a5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1a6">{{ p1a6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1a7">{{ p1a7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1a8">{{ p1a8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1a9">{{ p1a9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1a10">{{ p1a10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p1b1">{{ p1b1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1b2">{{ p1b2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1b3">{{ p1b3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1b4">{{ p1b4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1b5">{{ p1b5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1b6">{{ p1b6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1b7">{{ p1b7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1b8">{{ p1b8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1b9">{{ p1b9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1b10">{{ p1b10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p1c1">{{ p1c1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1c2">{{ p1c2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1c3">{{ p1c3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1c4">{{ p1c4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1c5">{{ p1c5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1c6">{{ p1c6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1c7">{{ p1c7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1c8">{{ p1c8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1c9">{{ p1c9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1c10">{{ p1c10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p1d1">{{ p1d1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1d2">{{ p1d2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1d3">{{ p1d3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1d4">{{ p1d4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1d5">{{ p1d5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1d6">{{ p1d6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1d7">{{ p1d7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1d8">{{ p1d8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1d9">{{ p1d9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1d10">{{ p1d10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p1e1">{{ p1e1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1e2">{{ p1e2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1e3">{{ p1e3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1e4">{{ p1e4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1e5">{{ p1e5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1e6">{{ p1e6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1e7">{{ p1e7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1e8">{{ p1e8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1e9">{{ p1e9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1e10">{{ p1e10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p1f1">{{ p1f1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1f2">{{ p1f2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1f3">{{ p1f3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1f4">{{ p1f4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1f5">{{ p1f5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1f6">{{ p1f6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1f7">{{ p1f7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1f8">{{ p1f8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1f9">{{ p1f9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1f10">{{ p1f10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p1g1">{{ p1g1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1g2">{{ p1g2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1g3">{{ p1g3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1g4">{{ p1g4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1g5">{{ p1g5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1g6">{{ p1g6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1g7">{{ p1g7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1g8">{{ p1g8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1g9">{{ p1g9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1g10">{{ p1g10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p1h1">{{ p1h1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1h2">{{ p1h2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1h3">{{ p1h3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1h4">{{ p1h4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1h5">{{ p1h5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1h6">{{ p1h6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1h7">{{ p1h7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1h8">{{ p1h8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1h9">{{ p1h9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1h10">{{ p1h10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p1i1">{{ p1i1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1i2">{{ p1i2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1i3">{{ p1i3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1i4">{{ p1i4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1i5">{{ p1i5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1i6">{{ p1i6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1i7">{{ p1i7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1i8">{{ p1i8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1i9">{{ p1i9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1i10">{{ p1i10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p1j1">{{ p1j1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1j2">{{ p1j2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1j3">{{ p1j3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1j4">{{ p1j4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1j5">{{ p1j5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1j6">{{ p1j6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1j7">{{ p1j7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1j8">{{ p1j8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1j9">{{ p1j9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p1j10">{{ p1j10 }}</a></div></td>
            </tr>
         </table>
    </body>
    <body>
        <table border="2" align="right" style="margin-top:100px; margin-right:200px" cellspacing="0">
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p2a1">{{ p2a1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2a2">{{ p2a2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2a3">{{ p2a3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2a4">{{ p2a4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2a5">{{ p2a5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2a6">{{ p2a6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2a7">{{ p2a7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2a8">{{ p2a8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2a9">{{ p2a9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2a10">{{ p2a10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p2b1">{{ p2b1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2b2">{{ p2b2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2b3">{{ p2b3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2b4">{{ p2b4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2b5">{{ p2b5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2b6">{{ p2b6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2b7">{{ p2b7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2b8">{{ p2b8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2b9">{{ p2b9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2b10">{{ p2b10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p2c1">{{ p2c1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2c2">{{ p2c2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2c3">{{ p2c3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2c4">{{ p2c4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2c5">{{ p2c5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2c6">{{ p2c6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2c7">{{ p2c7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2c8">{{ p2c8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2c9">{{ p2c9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2c10">{{ p2c10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p2d1">{{ p2d1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2d2">{{ p2d2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2d3">{{ p2d3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2d4">{{ p2d4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2d5">{{ p2d5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2d6">{{ p2d6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2d7">{{ p2d7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2d8">{{ p2d8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2d9">{{ p2d9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2d10">{{ p2d10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p2e1">{{ p2e1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2e2">{{ p2e2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2e3">{{ p2e3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2e4">{{ p2e4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2e5">{{ p2e5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2e6">{{ p2e6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2e7">{{ p2e7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2e8">{{ p2e8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2e9">{{ p2e9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2e10">{{ p2e10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p2f1">{{ p2f1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2f2">{{ p2f2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2f3">{{ p2f3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2f4">{{ p2f4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2f5">{{ p2f5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2f6">{{ p2f6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2f7">{{ p2f7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2f8">{{ p2f8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2f9">{{ p2f9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2f10">{{ p2f10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p2g1">{{ p2g1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2g2">{{ p2g2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2g3">{{ p2g3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2g4">{{ p2g4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2g5">{{ p2g5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2g6">{{ p2g6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2g7">{{ p2g7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2g8">{{ p2g8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2g9">{{ p2g9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2g10">{{ p2g10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p2h1">{{ p2h1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2h2">{{ p2h2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2h3">{{ p2h3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2h4">{{ p2h4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2h5">{{ p2h5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2h6">{{ p2h6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2h7">{{ p2h7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2h8">{{ p2h8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2h9">{{ p2h9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2h10">{{ p2h10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p2i1">{{ p2i1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2i2">{{ p2i2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2i3">{{ p2i3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2i4">{{ p2i4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2i5">{{ p2i5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2i6">{{ p2i6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2i7">{{ p2i7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2i8">{{ p2i8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2i9">{{ p2i9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2i10">{{ p2i10 }}</a></div></td>
            </tr>
            <tr>
                <td><div class="my_div"><a href="#" class="button" name="p2j1">{{ p2j1 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2j2">{{ p2j2 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2j3">{{ p2j3 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2j4">{{ p2j4 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2j5">{{ p2j5 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2j6">{{ p2j6 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2j7">{{ p2j7 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2j8">{{ p2j8 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2j9">{{ p2j9 }}</a></div></td>
                <td><div class="my_div"><a href="#" class="button" name="p2j10">{{ p2j10 }}</a></div></td>
            </tr>
         </table>
    </body>
</html>